# Deployment template
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ${APP_NAME}
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      containers:
        - name: ${APP_NAME}-container
          image: ${DOCKER_IMAGE}:${BUILD_NUMBER}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
